control/__pycache__/
control/modules/__pycache__/**
**__pycache__/
control/logs/
control/paths/
control/positions/
.venv-inflate/
.venv-deploy/
control/arduino/SyringeControl/.vscode/
.vscode/
*.pyc
*.cpython-38
.png
control/modules/__pycache__/arduinoInterface.cpython-38.pyc
control/modules/__pycache__/kinematics.cpython-38.pyc
control/modules/__pycache__/pumpLog.cpython-38.pyc
nodetect.png
