control/__pycache__/
control/modules/__pycache__/*
control/logs/
control/paths/
.venv-inflate/
.venv-deploy/
control/arduino/SyringeControl/.vscode/
.vscode/
control/visual_navigation/__pycache__/cam_pose.cpython-37.pyc
control/visual_navigation/__pycache__/cam_pose.cpython-38.pyc
control/visual_navigation/__pycache__/VideoCap.cpython-37.pyc
control/visual_navigation/__pycache__/VideoCap.cpython-38.pyc
control/visual_navigation/cylmarker/__pycache__/__init__.cpython-36.pyc
control/visual_navigation/cylmarker/__pycache__/__init__.cpython-37.pyc
control/visual_navigation/cylmarker/__pycache__/__init__.cpython-38.pyc
control/visual_navigation/cylmarker/__pycache__/__init__.cpython-39.pyc
control/visual_navigation/cylmarker/__pycache__/keypoints.cpython-37.pyc
control/visual_navigation/cylmarker/__pycache__/keypoints.cpython-38.pyc
control/visual_navigation/cylmarker/__pycache__/keypoints.cpython-39.pyc
control/visual_navigation/cylmarker/__pycache__/load_data.cpython-36.pyc
control/visual_navigation/cylmarker/__pycache__/load_data.cpython-37.pyc
control/visual_navigation/cylmarker/__pycache__/load_data.cpython-38.pyc
control/visual_navigation/cylmarker/__pycache__/load_data.cpython-39.pyc
control/visual_navigation/cylmarker/__pycache__/save_data.cpython-37.pyc
control/visual_navigation/cylmarker/__pycache__/save_data.cpython-38.pyc
control/visual_navigation/cylmarker/__pycache__/save_data.cpython-39.pyc
control/visual_navigation/cylmarker/make_new_pattern_and_marker/__pycache__/__init__.cpython-37.pyc
control/visual_navigation/cylmarker/make_new_pattern_and_marker/__pycache__/__init__.cpython-38.pyc
control/visual_navigation/cylmarker/make_new_pattern_and_marker/__pycache__/__init__.cpython-39.pyc
control/visual_navigation/cylmarker/make_new_pattern_and_marker/__pycache__/create_new_marker.cpython-37.pyc
control/visual_navigation/cylmarker/make_new_pattern_and_marker/__pycache__/create_new_marker.cpython-39.pyc
control/visual_navigation/cylmarker/make_new_pattern_and_marker/__pycache__/create_new_pattern.cpython-37.pyc
control/visual_navigation/cylmarker/make_new_pattern_and_marker/__pycache__/create_new_pattern.cpython-38.pyc
control/visual_navigation/cylmarker/make_new_pattern_and_marker/__pycache__/create_new_pattern.cpython-39.pyc
control/visual_navigation/cylmarker/pose_estimation/__pycache__/__init__.cpython-37.pyc
control/visual_navigation/cylmarker/pose_estimation/__pycache__/__init__.cpython-38.pyc
control/visual_navigation/cylmarker/pose_estimation/__pycache__/__init__.cpython-39.pyc
control/visual_navigation/cylmarker/pose_estimation/__pycache__/img_segmentation.cpython-37.pyc
control/visual_navigation/cylmarker/pose_estimation/__pycache__/img_segmentation.cpython-38.pyc
control/visual_navigation/cylmarker/pose_estimation/__pycache__/img_segmentation.cpython-39.pyc
control/visual_navigation/cylmarker/pose_estimation/__pycache__/pose_estimation.cpython-37.pyc
control/visual_navigation/cylmarker/pose_estimation/__pycache__/pose_estimation.cpython-38.pyc
control/visual_navigation/cylmarker/pose_estimation/__pycache__/pose_estimation.cpython-39.pyc
nodetect.png
